
<style>

    .container {
      padding: 0;
      margin: 0, auto;
    }

     .container a {
      width: 45%;
      max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .container img {
      width: 40%;
    }

</style>

<div>
    <h3>
        {{ project.title }}
    </h3>
</div>
<div>
    <h5>
        {{ project.content | safe }}
    </h5>
</div>

<div class="container">

    <img src="{{ project.image.url }}" alt="">

    <img src="{{ project.image2.url }}" alt="">

    <img src="{{ project.image3.url }}" alt="">

</div>

<div>
    <h6>
        join
    </h6>
</div>