{% load static %}

  {% if project_list %}
    <div class="container">
       {% for project in project_list %}

      <a href="{% url 'projectapp:detail' pk=project.pk %}">
        {% include 'snippets/card.html' with projecte=project %}
      </a>
      {% endfor %}
    </div>

  {% else %}
  <div class="text-center">
    <h1>No Articles YET!</h1>
  </div>
  {% endif %}

    <div style="text-align: center">
      <a href="{% url 'projectapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
        Create Article
     </a>
    </div>
