{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div>
    <div style="text-align:center; max-width:500px; margin: 4rem auto">

       <h1>
           {{target_project.title}}
       </h1>

        <a href="{% url 'accountapp:detail' pk=target_project.writer.pk %}" >
            <h4>
                <img src="{{ target_project.writer.profile.image.url }}" alt=""
                     style="height: 3rem; width: 3rem; border-radius: 10rem; object-fit: cover;">

                {{ target_project.writer.profile.nickname }}
            </h4>
        </a>

        <hr>
        <h5>
            {{target_project.content}}
        </h5>

        <img src="{{target_project.image.url}}" alt=""  class="container">
        <img src="{{target_project.image2.url}}" alt=""  class="container">
        <img src="{{target_project.image3.url}}" alt=""  class="container">

    <!--        구직 인원, 지원자 수 (-> 구현 전 프로젝트 생성시 지원자 수 추가생성 )-->

    <!--        프로젝트 글쓴이일 경우 수정, 삭제 권한-->
        {% if target_project.writer == user %}
        <a href="{% url 'projectapp:update' pk=target_project.pk %}">
            <p>Update Project</p>
        </a>
        <a href="{% url 'projectapp:delete' pk=target_project.pk %}">
            <p>Delete Project</p>
        </a>

    <!--        추후 join버튼을 누른 지원자의 프로필-->

        {% endif %}

    <!--        로그인 한 경우 join버튼, 프로젝트 만든 사람의 오픈카톡링크 -->


        <div class="text-center mb-5">
            {% if user.is_authenticated and target_project.writer != user %}
                {% if not join %}
                <a href="{% url 'joinapp:join' %}?project_pk={{ target_project.pk }}"
                    class="btn btn-primary rounded-pill px-4">
                    join
                </a>
                {% else %}
                <a href="{% url 'joinapp:join' %}?project_pk={{ target_project.pk }}"
                    class="btn btn-dark rounded-pill px-4">
                    Unjoin
                </a>
                {% endif %}
            {% endif %}
        </div>


        <hr>
        <a href="{% url 'projectapp:list' %}">
            <p>다른 프로젝트 보기</p>
        </a>
    </div>
</div>
{% endblock %}