{% extends 'base.html' %}
{% load static %}

{% block content %}




  <div class="content-section wf-section">
    <div class="left-block"></div>
    <div class="main-block">
      <div class="container-3 w-container">
        <div class="div-block-21">
          <div data-animation="slide" data-nav-spacing="10" data-duration="500" data-infinite="1" class="slider w-slider">
            <div class="item_padding">
              <h3 class="heading">Project Title</h3>
              <p class="small">Tablet UI design, branding &amp; marketing site all aimed at putting you in control of your health records.</p>
            </div>
            <div class="w-slider-mask">
              <div class="w-slide"><img src="images/project-1.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-1-p-500.jpeg 500w, images/project-1-p-800.jpeg 800w, images/project-1-p-1080.jpeg 1080w, images/project-1.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-3.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-3-p-800.jpeg 800w, images/project-3-p-1080.jpeg 1080w, images/project-3.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-2.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-2-p-800.jpeg 800w, images/project-2-p-1080.jpeg 1080w, images/project-2.JPG 1280w" alt=""></div>
              <div class="w-slide">
                <div class="div-block-22">
                  <a href="#" class="button w-button">More</a>
                  <a href="#" class="button w-button">Join</a>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
        <div class="div-block-21">
          <div data-animation="slide" data-nav-spacing="10" data-duration="500" data-infinite="1" class="slider w-slider">
            <div class="item_padding">
              <h3 class="heading">Project Title</h3>
              <p class="small">Tablet UI design, branding &amp; marketing site all aimed at putting you in control of your health records.</p>
            </div>
            <div class="w-slider-mask">
              <div class="w-slide"><img src="images/project-1.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-1-p-500.jpeg 500w, images/project-1-p-800.jpeg 800w, images/project-1-p-1080.jpeg 1080w, images/project-1.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-3.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-3-p-800.jpeg 800w, images/project-3-p-1080.jpeg 1080w, images/project-3.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-2.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-2-p-800.jpeg 800w, images/project-2-p-1080.jpeg 1080w, images/project-2.JPG 1280w" alt=""></div>
              <div class="w-slide">
                <div class="div-block-22">
                  <a href="#" class="button w-button">More</a>
                  <a href="#" class="button w-button">Join</a>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
        <div class="div-block-21">
          <div data-animation="slide" data-nav-spacing="10" data-duration="500" data-infinite="1" class="slider w-slider">
            <div class="item_padding">
              <h3 class="heading">Project Title</h3>
              <p class="small">Tablet UI design, branding &amp; marketing site all aimed at putting you in control of your health records.</p>
            </div>
            <div class="w-slider-mask">
              <div class="w-slide"><img src="images/project-1.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-1-p-500.jpeg 500w, images/project-1-p-800.jpeg 800w, images/project-1-p-1080.jpeg 1080w, images/project-1.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-3.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-3-p-800.jpeg 800w, images/project-3-p-1080.jpeg 1080w, images/project-3.JPG 1280w" alt=""></div>
              <div class="w-slide"><img src="images/project-2.JPG" loading="lazy" sizes="(max-width: 479px) 100vw, 602px" srcset="images/project-2-p-800.jpeg 800w, images/project-2-p-1080.jpeg 1080w, images/project-2.JPG 1280w" alt=""></div>
              <div class="w-slide">
                <div class="div-block-22">
                  <a href="#" class="button w-button">More</a>
                  <a href="#" class="button w-button">Join</a>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-block"></div>
  </div>
  <div class="footer wf-section">
    <div class="button-wrap-2"></div>
  </div>

{% endblock %}