<header id="nav" class="nav-bar">
  <nav data-w-id="b2d25b6e-70cb-bec1-9a55-6e68f28386c1" style="opacity:0" class="container w-container">
    <ul role="list" class="nav-grid w-list-unstyled">
      <li id="w-node-b2d25b6e-70cb-bec1-9a55-6e68f28386c3-ba63026f" class="list-item">
        <div class="logo-box">
          <div class="logo_text k-2">L</div>
          <div class="logo_text l-3">K</div>
          <div class="logo_text k-4">L</div>
          <div class="logo_text l-1">K</div>
        </div>
      </li>
      <li>
        <a href="login-2.html" target="_blank" class="btn-hero w-button">Login</a>
      </li>
    </ul>
  </nav>
</header>

